.deletebtn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

button {
  background-color: transparent;
  border-color: transparent;
}

li {
  list-style-type: none;
}
